@import "vars";

/* basic */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  height: 100%;
  background-color: $background;
  background: url("img/tile.png");
  color: $text;
}
a {
  text-decoration: none;
  color: $accent;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
  text-align: center;
  margin: 2em 0 1em 0;
}

/* nav bar */

#site-title {
  font-size: 26px;
  color: #272727;
  display: inline-block;
}
nav {
  padding: 50px 0 50px 0;
}
nav ul {
  margin: 0;
  padding: 5px 0 5px 0;
  margin-left: 20px;
}
nav ul li {
  list-style-type: none;
  margin: 0 6px 0 6px;
}
.inline {
  display: inline-block;
}
.left {
  @extend .inline;
  float: left;
}
.right {
  @extend .inline;
  float: right;
}

/* special divs */

.container {
  max-width: $max-width;
  margin: auto;
  padding-top: 24px;
}
.wrapper {
  min-height: 100%;
}
.profile-picture {
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

@import "typography";
@import "syntax";
@import "media";
