@media (max-width: 800px) {
  .container {
    max-width: $med-width;
    transition: 0.3s ease all;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 83%;
  }
  nav {
    text-align: center;
    padding: 50px 0px 0px 0px;
  }
  nav ul {
    margin-top: 5px;
  }
  #site-title {
    width: 100%;
    float: none;
  }
  #navlist {
    padding: 10px 0 10px 0;
    margin: 0;
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
  #navlist li.alignable {
    display: inline-block;
  }
  #navlist li.pull-left {
    float: none;
  }
  h1 {
    font-size: 2.4em;
  }
}
