---
layout: head
---

<body>
  <div class="wrapper">
    <nav class="container">
      <a id="site-title" class="left" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <ul class="right">
        {% for x in site.nav %}
          <li class="left"><a href="{{ x.link }}">{{ x.name }}</a></li>
          {% if forloop.last == false %}
            <li class="left">&middot;</li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div style="clear:both"></div>
    <hr>
    <main class="container">
      {{ content }}
    </main>
    {% if site.footer == true %}
    <footer>
      <a href="{{ site.footer_url }}" style="color: black">
        <small>{{ site.footer_text }}</small>
      </a>
    </footer>
    {% endif %}
  </div>
</body>
